/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: safari >= 7
*/




.room-menu{
    position: absolute;
    top: 2vh;
    right: 2vw;
    color: white;
    font-size: 2.79vw;
    width: 18vw;
    word-wrap: break-word;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    gap: 10px;

}
.room-menu button{
    width: 100%;
    margin: 0;
    font-size: 20px;
}
.room-menu h4{
    font-size: 2.5vw;
    margin: 10px 0;
}
.room-menu li{
    list-style-type: none;
    font-size: 2vw;
    margin:0 0 20px 8vw;

}
.room-menu ul{
    margin: 0;
    padding: 0;
}

.game-field{
    background-color: #353535;
    width: 60vw;
    height: 40vh;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}
.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: start;
            justify-content: start;
    width: 150px;
    height: 170px;
    position: relative;
}
.opponent{
    width: 150px;
    height: 200px;

}
img{
    background-color: #303030;
    width: 120px;
    height: 120px;
    border-radius: 25px;
    width: 120px;
}
.name{
    margin: 0;

}

.two-players, .three-players, .four-players{
    position: absolute;
    top: -160px;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
}

.two-players{
    -webkit-justify-content: center ;
            justify-content: center ;
}

.three-players, .four-players{
    -webkit-justify-content: space-around ;
            justify-content: space-around ;
}

.deck{
    position: fixed;
    top: 50%;
    left: 2vw;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 150px;
    height: 250px;
    border-radius: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    background-color: #707070;
}


.cardsList{
    max-width: 100vw;
    height: 295px;
    position: fixed;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

}
.cardsList .card, .table-card{
    padding: 10px;
    width: 130px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid #707070;
}
::-webkit-scrollbar{
    background-color: #404040;
    height: 40px;
    
}
::-webkit-scrollbar-thumb{
    background-color: #707070;
    border-radius: 20px;
    background-clip: content-box;
    -webkit-transition: 2s;
    transition: 2s;
    border: 7px solid transparent;
}
.normal .card{
    margin: 0 5px;
}
.many .card{
    margin-right: -110px;
    transition: all 0.2s;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
}
.many .card:hover{
    margin-right: 0px;
}
.many .card:last-child{
    margin-right: 0;
}


.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.any{
    background-color: black;
    color: whitesmoke;
}

.opponentCards{
    position: absolute;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    width: 300px;
    z-index: 5;
    height: 50px;
    
}
.opponentCards .card{
    background-color: #707070;
    margin: 0 2px;
    width: 35px;
    height: 50px;
    border-radius: 5px;

    
    font-size: 40px;
    text-align: center;
}

.btn-green{
    background-color: green;
}
.change-color-card{
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}

.change-color-item:nth-child(1){
    border-radius: 10px 0 0 0 ;
}.change-color-item:nth-child(2){
    border-radius:  0 10px 0 0 ;
}.change-color-item:nth-child(3){
    border-radius:  0 0 0 10px;
}.change-color-item:nth-child(4){
    border-radius: 0 0 10px 0 ;
}

.change-color-item{
    width: 50%;
    height: 50%;
    transition: all .3s;

}

.change-color-item:hover{
    scale: 1.1;
}

.none{
    display: none;
}

.winner-alert{
    width: 70vw;
    height: 30vh;
    background-color: #757575;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.status-btn0{
    background: #202020;
}

.status-btn1{
    background: linear-gradient(to left, #202020 75%, green 25%);
}

.status-btn2{
    background: linear-gradient(to left, #202020 50%, green 50%);
}

.status-btn3{
    background: linear-gradient(to right, green 75%, #202020 25%);
}

.status-btn4{
    display: none;
}