.room-menu{
    position: absolute;
    top: 2vh;
    right: 2vw;
    color: white;
    font-size: 2.79vw;
    width: 18vw;
    word-wrap: break-word;
    display: flex;
    flex-direction: column; 

}
.room-menu button{
    width: 100%;
    margin: 0;
    font-size: 20px;
}
.room-menu h4{
    font-size: 2.5vw;
    margin: 10px 0;
}
.room-menu li{
    list-style-type: none;
    font-size: 2vw;
    margin:0 0 20px 8vw;

}
.room-menu ul{
    margin: 0;
    padding: 0;
}

.game-field{
    background-color: #353535;
    width: 60vw;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 150px;
    height: 170px;
    position: relative;
}
.opponent{
    width: 150px;
    height: 200px;

}
img{
    background-color: #303030;
    width: 120px;
    height: 120px;
    border-radius: 25px;
    width: 120px;
}
.name{
    margin: 0;

}

.two-players, .three-players, .four-players{
    position: absolute;
    top: -160px;
    left: 0;
    width: 100%;
    display: flex;
}

.two-players{
    justify-content: center ;
}

.three-players, .four-players{
    justify-content: space-around ;
}

.deck{
    position: fixed;
    top: 50%;
    left: 2vw;
    transform: translate(0, -50%);
    width: 150px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #707070;
}


.cardsList{
    max-width: 100vw;
    height: 295px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

}
.cardsList .card, .table-card{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #707070;
}
::-webkit-scrollbar{
    background-color: #404040;
    height: 40px;
    
}
::-webkit-scrollbar-thumb{
    background-color: #707070;
    border-radius: 20px;
    background-clip: content-box;
    transition: 2s;
    border: 7px solid transparent;
}
.normal .card{
    margin: 0 5px;
}
.many .card{
    margin-right: -110px;
    transition: 0.5s;
    flex-shrink: 0;
}
.many .card:hover{
    margin-right: 0px;
    
    transition: 0.5s;
}
.many .card:last-child{
    margin-right: 0;
}


.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.any{
    background-color: black;
    color: whitesmoke;
}

.opponentCards{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 300px;
    z-index: 5;
    height: 50px;
    
}
.opponentCards .card{
    background-color: #707070;
    margin: 0 2px;
    width: 35px;
    height: 50px;
    border-radius: 5px;

    
    font-size: 40px;
    text-align: center;
}

.btn-green{
    background-color: green;
}